services:
  - type: web
    name: ems-backend
    env: node
    plan: free
    region: oregon
    rootDir: backend
    buildCommand: npm install && npx prisma generate && npm run build
    startCommand: npm run db:push && npm run seed:node && npm run start
    autoDeploy: true
    healthCheckPath: /api/health
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ems-db
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
      - key: NODE_ENV
        value: production
      - key: NPM_CONFIG_PRODUCTION
        value: "false"
      - key: CORS_ORIGIN
        value: https://ems-frontend.onrender.com

  - type: web
    name: ems-frontend
    env: node
    plan: free
    region: oregon
    rootDir: frontend
    buildCommand: npm install && npm run build
    startCommand: npm run start
    autoDeploy: true
    envVars:
      - key: NEXT_PUBLIC_API_BASE_URL
        value: https://ems-backend.onrender.com

databases:
  - name: ems-db
    plan: free
